/* Add search item to navbar */
.navbar__item.navbar__link {
  &.navbar-search-item {
    padding: 0.5rem;
  }
}

/* Position search within navbar */
.navbar__items.navbar__items--right {
  display: flex;
  align-items: center;
}

/* Style for search container in navbar */
.navbar-search-inline {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

/* Adjust spacing for navbar items */
.navbar__item--right {
  margin-left: 0.5rem;
}